&#123;% extends "layout.html" %&#125;
<div class="block1">
<h1>---- api.fingerbank.org API call summary details ---</h1>
<h2>{{count}} no of documents score greater than {{val}}</h2>
<h2>Total no of documents API call need to fetch {{total}}</h2>
<h2>{{mongo}} documents made mongo call instead of API</h2>
<h2>{{redis}} documents made redis call instead of API</h2>
<h2>{{nodevice}} document api call failed due to  device un uvailable</h2>
<h2>{{api}} documents made API call to api.fingerbank.org </h2>
<h2>{{ratelimit}} documents API Rate limited </h2>
</div>
